<% if %w[selenium watir].include? automation -%>
Feature: Login Page

Scenario: A user can login
    Given I'm a registered user on the login page
    When I login with my credentials
    Then I can see the main page
<% else -%>
Feature: Home Page

Scenario: A user can go to the product details page
    Given I'm an anonymous user on the home page
    When I select one of the products
    Then I'm redirected to the product details page
<% end %>