# frozen_string_literal: true

require_relative '../../helpers/visual_helper'
require_relative '../../page_objects/pages/login'

include VisualHelper

Given("I'm on the login page") do
  @login_page = <% if capybara? %>Login.new<% elsif watir? %>Login.new(browser)<% else %>Login.new(driver)<% end %>
  @login_page.<% if capybara? %>visit_page<% else %>visit<% end %>
end

Then('the page should match the visual baseline {string}') do |baseline_name|
  screenshot_path = <% if capybara? %>page.save_screenshot("tmp/visual_#{baseline_name}.png")<% elsif watir? %>browser.screenshot.save("tmp/visual_#{baseline_name}.png")<% else %>driver.save_screenshot("tmp/visual_#{baseline_name}.png")<% end %>
  result = compare_screenshot(baseline_name, screenshot_path)

  expect(result[:status]).not_to eq(:mismatch),
    "Visual diff: #{(result[:diff].to_f * 100).round(2)}% difference. See: #{result[:diff_path]}"
end
