# frozen_string_literal: true

<%=- partial('allure_requirements', trim: false, strip: true) -%>
<%- allure = partial('allure_imports', trim: false, strip: true) -%>


module AllureHelper
  class << self
    def configure
      <%= allure %>.configure do |config|
        config.results_directory = 'allure-results'
        config.clean_results_directory = true
      end
    end

    def add_screenshot(name, file)
      Allure.add_attachment(
        name:,
        source: file,
        type: Allure::ContentType::PNG,
        test_case: true
       )
     end
  <%- if rspec? -%>

    def formatter
      AllureRspecFormatter
    end
  <%- end -%>
  end
end
