# frozen_string_literal: true

require 'active_support/core_ext/string/inflections'
require 'yaml'
require 'watir'

module BrowserHelper

  def browser(*args)
    @browser ||= create_browser(*args)
  end

  private

  def config
    @config ||= YAML.load_file('config/config.yml')
  end

  def create_browser(*args)
    Watir.default_timeout = config.fetch('timeout', 10)
    browser_name = config['browser'].to_s
    args = args.empty? ? config['browser_arguments'][browser_name] : args
    args += ['--headless'] if (ENV['HEADLESS'] || config['headless']) && !args.include?('--headless')
    capitalized = browser_name == 'ie' ? browser_name.upcase : browser_name.capitalize
    browser_options = "Selenium::WebDriver::#{capitalized}::Options".constantize.new(args:)
    Watir::Browser.new(browser_name.to_sym, options: browser_options)
  end
end
