# frozen_string_literal: true

require 'capybara'
require 'capybara/dsl'
require 'selenium-webdriver'
require 'yaml'

module CapybaraHelper
  def self.configure
    config = YAML.load_file('config/config.yml')

    Capybara.configure do |capybara_config|
      capybara_config.default_driver = :selenium
      capybara_config.javascript_driver = :selenium
      capybara_config.app_host = config['url']
      capybara_config.default_max_wait_time = config.fetch('timeout', 10)
      capybara_config.run_server = false
    end

    Capybara.register_driver :selenium do |app|
      browser = config['browser'].to_sym
      args = config['browser_arguments'][config['browser']] || []
      args += ['--headless'] if ENV['HEADLESS'] && !args.include?('--headless')
      options = Selenium::WebDriver::Chrome::Options.new(args:)
      debug_cfg = config['debug'] || {}
      if debug_cfg.fetch('enabled', false) || ENV['DEBUG']&.downcase == 'true'
        options.add_option('goog:loggingPrefs', { browser: 'ALL', performance: 'ALL' })
      end
      Capybara::Selenium::Driver.new(app, browser:, options:)
    end
  end
end
