# frozen_string_literal: true

require 'yaml'
<%- if selenium_based? -%>
require 'active_support/inflector'
require 'selenium-webdriver'
<%- else -%>
require 'appium_lib'
<%- end -%>

module DriverHelper
  <%- if selenium_based? -%>
  def driver(*opts)
    @driver ||= create_driver(*opts)
  end
  <%- else -%>
  def driver
    @driver ||= create_driver
  end
  <%- end -%>

  private

  <%= partial('driver_and_options', strip: true) %>
end
