# frozen_string_literal: true
<% if axe? -%>
require 'axe-selenium'
<% end -%>
require 'yaml'
<% if selenium_based? -%>
require 'active_support/inflector'
require 'selenium-webdriver'
<% else -%>
require 'appium_lib'
<% end -%>

module DriverHelper
  <% if selenium_based? && !axe? -%>
  def driver(*opts)
    @driver ||= create_driver(*opts)
  end
  <% elsif axe? -%>
  def driver(browser = :chrome, js_path = nil, skip_iframes = nil)
    @driver ||= create_driver(browser, js_path, skip_iframes)
  end
  <% else -%>
def driver
    @driver ||= create_driver
  end
  <%- end -%>

  private

  <%= ERB.new(File.read(File.expand_path('./partials/driver_and_options.tt', __dir__)), trim_mode: '-').result(binding).strip! %>
end