# frozen_string_literal: true

module Raider
  require_relative 'raider_log_helper'
<%- if framework == 'rspec' -%>
  require_relative 'spec_helper'
<%- end -%>
<%- if automation == 'watir' -%>
  require_relative 'browser_helper'
<%- else -%>
  require_relative 'driver_helper'
<%- end -%>
  require_relative 'allure_helper'
<%- if automation == 'cross_platform' -%>
  require_relative 'appium_helper'
<%- end -%>
<%- if visual_automation -%>
  require_relative 'visual_helper'
<%- end -%>
end
