# frozen_string_literal: true

module Raider
    <% if framework == 'rspec' %>
    require_relative 'spec_helper'
    <% end %>
    <%= ERB.new(File.read(File.expand_path('./partials/require_automation.tt', __dir__))).result(binding).strip! %>
    require_relative 'pom_helper'
    <%= ERB.new(File.read(File.expand_path('./partials/require_driver.tt', __dir__))).result(binding).strip! %>
    require_relative 'allure_helper'
end
