# frozen_string_literal: true

<%- if axe? %>
require 'axe-rspec'
<%- end -%>
require 'rspec'
require 'tmpdir'
require_relative 'allure_helper'
<%- if watir? -%>
require_relative 'browser_helper'
<%- else -%>
require_relative 'driver_helper'
<%- end -%>

module SpecHelper

  AllureHelper.configure
  RSpec.configure do |config|
    config.formatter = AllureHelper.formatter
    <% if watir? %>config.include(BrowserHelper)<% else %>config.include(DriverHelper)<% end %>
    <%- if mobile? -%>
    config.before(:each) do
      driver.start_driver
    end
    <%- elsif selenium_based? -%>
    config.before(:each) do
      driver.manage.window.maximize
    end
    <%- elsif watir? -%>
    config.before(:each) do
      browser.window.maximize
    end
    <%- end -%>

    config.after(:each) do |example|
      example_name = example.description
      Dir.mktmpdir do |temp_folder|
        <%= ERB.new(File.read(File.expand_path('./partials/screenshot.tt', __dir__)), trim_mode: '-').result(binding).strip! %>
        AllureHelper.add_screenshot(example_name, screenshot)
      end
      <%= ERB.new(File.read(File.expand_path('./partials/quit_driver.tt', __dir__)), trim_mode: '-').result(binding).strip! %>
    end
  end
end
