# frozen_string_literal: true

<%- if axe_addon? %>
require 'axe-rspec'
<%- end -%>
require 'rspec'
require 'rspec/retry'
require 'tmpdir'
require_relative 'allure_helper'
<%- if watir? -%>
require_relative 'browser_helper'
<%- else -%>
require_relative 'driver_helper'
<%- end -%>

module SpecHelper

  AllureHelper.configure
  RSpec.configure do |config|
    config.example_status_persistence_file_path = 'spec/examples.txt'
    config.verbose_retry = true
    config.display_try_failure_messages = true
    config.default_retry_count = ENV.fetch('RETRY_COUNT', 0).to_i
    config.formatter = AllureHelper.formatter
    <%- if watir? -%>
    config.include(BrowserHelper)
    <%- else -%>
    config.include(DriverHelper)
    <%- end -%>
    <%- if mobile? -%>
    config.before(:each) do
      driver.start_driver
    <%- elsif selenium_based? -%>
    config.before(:each) do
      viewport = YAML.load_file('config/config.yml')['viewport']
      if viewport
        driver.manage.window.resize_to(viewport['width'], viewport['height'])
      else
        driver.manage.window.maximize
      end
    <%- elsif watir? -%>
    config.before(:each) do
      viewport = YAML.load_file('config/config.yml')['viewport']
      if viewport
        browser.window.resize_to(viewport['width'], viewport['height'])
      else
        browser.window.maximize
      end
    <%- end -%>
    end

    config.after(:each) do |example|
      example_name = example.description
      if example.exception
        @_exception = example.exception
      end
      Dir.mktmpdir do |temp_folder|
        <%= partial('screenshot', strip: true) %>
        AllureHelper.add_screenshot(example_name, screenshot)
      end
      <%= partial('quit_driver', strip: true) %>
    end
  end
end
