# frozen_string_literal: true

require 'rspec'
require 'eyes_selenium'
<% if automation == 'selenium' %>
require_relative 'driver_helper'
<% else %>
require_relative 'browser_helper'
<% end %>
require_relative 'visual_helper'

module Raider
  module SpecHelper
    RSpec.configure do |config|
      config.include(<% if automation == 'watir' -%>BrowserHelper<% else -%>DriverHelper<% end -%>)
      config.include(VisualHelper)
      config.before(:each) do
        OpenSSL::SSL::VERIFY_PEER = OpenSSL::SSL::VERIFY_NONE
        @grid_runner = create_grid_runner
        @eyes = create_eyes(@grid_runner)
        configure_eyes @eyes
        <% if automation == 'selenium' %>
        @driver = @eyes.open(driver: new_driver)
        <% else %>
        @driver = @eyes.open(driver: new_browser.driver)
        <% end %>
      end

      config.after(:each) do
        @eyes.close
        @driver.quit
        @eyes.abort_async
        results = @grid_runner.get_all_test_results
        puts results
      end
    end
  end
end
