# frozen_string_literal: true

require_relative '../../page_objects/pages/confirmation_page'
require_relative '../../page_objects/pages/home_page'
require_relative '../../page_objects/pages/login_page'

Given("I'm a registered user on the login page") do
    HomePage.go_to_login
end

When('I login with my credentials') do
    LoginPage.login('alice', 'mypassword')
end

When('I can see the main page') do
    expect(ConfirmationPage.login_message).to eq 'You are logged in as alice'
end
