require_relative '../../helpers/driver_helper'

Before do
  @driver = Raider::DriverHelper.new_driver
end

After do |scenario|
  @driver.save_screenshot("allure-results/screenshots/#{scenario.name}.png")
  Raider::AllureHelper.add_screenshot(scenario.name)
  @driver.quit
end
