require_relative '../../helpers/browser_helper'

include Raider::BrowserHelper

Before do
  new_browser
end

After do |scenario|
  browser.save_screenshot("allure-results/screenshots/#{scenario.name}.png")
  Raider::AllureHelper.add_screenshot(scenario.name)
  browser.quit
end