source 'https://rubygems.org'

gem 'activesupport'
<% if mobile? %>
gem 'appium_lib'
gem 'appium_console'
<% end %>
<%- if allure_reporter? -%>
<%- if cucumber? -%>
gem 'allure-cucumber', '2.28.0'
<%- elsif minitest? -%>
gem 'allure-ruby-commons', '2.28.0'
<%- else -%>
gem 'allure-rspec', '2.28.0'
gem 'allure-ruby-commons', '2.28.0'
<%- end -%>
<%- end -%>
<%- if capybara? -%>
gem 'capybara'
gem 'selenium-webdriver'
<%- end -%>
<%- if axe_addon? -%>
<%- if minitest? -%>
gem 'axe-core-minitest'
<%- else -%>
gem 'axe-core-rspec'
<%- end -%>
gem 'axe-core-selenium'
<%- end -%>
<%- if visual_addon? -%>
gem 'chunky_png'
<%- end -%>
gem 'parallel_split_test'
gem 'parallel_tests'
gem 'rake'
gem 'reek'
<%- if rspec? -%>
gem 'rspec-retry'
<%- end -%>
<%- if junit_reporter? && rspec? -%>
gem 'rspec_junit_formatter'
<%- end -%>
gem '<%= framework %>'
<%- if cucumber? -%>
gem 'rspec'
<%- end -%>
<%- if minitest? -%>
gem 'minitest-reporters'
<%- end -%>
gem 'rubocop'
<%- if rspec? -%>
gem 'rubocop-rspec'
<%- end -%>
<%- if minitest? -%>
gem 'rubocop-minitest'
<%- end -%>
gem 'ruby_raider', '~> 1.1.0'
<%- if selenium_based? %>
gem 'selenium-webdriver'
<%- end -%>
<%- if watir? -%>
gem 'watir'
<%- end -%>
<%- if web? -%>
gem 'debug', '>= 1.0'
gem 'pry'
<%- end -%>
