source 'https://rubygems.org'

gem 'activesupport'
<%- if cucumber? -%>
gem 'allure-cucumber'
<%- else -%>
gem 'allure-rspec'
gem 'allure-ruby-commons'
<%- end -%>
<%- if axe? -%>
gem 'axe-core-rspec'
gem 'axe-core-selenium'
<%- end -%>
<%- if visual? -%>
gem 'eyes_selenium', '~> 4.6', '>= 4.6.1'
gem 'eyes_universal', '~> 3.3', '>= 3.3.1'
<%- end -%>
<%- unless visual? -%>
gem 'parallel_split_test'
gem 'parallel_tests'
<%- end -%>
gem 'rake'
gem 'reek'
gem '<%= framework %>'
<%- if cucumber? -%>
gem 'rspec'
<%- end -%>
gem 'rubocop'
<%- if rspec? -%>
gem 'rubocop-rspec'
<%- end -%>
gem 'ruby_raider', '~> 0.9.0'
<%= ERB.new(File.read(File.expand_path('./partials/automation_gems.tt', __dir__))).result(binding).strip! %>
