# frozen_string_literal: true

require_relative '../template'

# Template for an example Gemfile
class GemfileTemplate < Template
  def automation_gems
    case automation
    when 'watir'
      <<~RUBY
        gem 'selenium-webdriver'
        gem 'watir'
      RUBY
    when 'selenium'
      "gem 'selenium-webdriver'"
    else
      <<~RUBY
        gem 'appium_lib'
        gem 'appium_console'
      RUBY
    end
  end

  def webdrivers
    "gem 'webdrivers'" if %w[selenium watir].include? automation
  end

  def allure_cucumber
    "gem 'allure-cucumber'" if framework == 'cucumber'
  end

  def rspec_gem
    "gem 'rspec'" if framework == 'cucumber'
  end

  def body
    <<~RUBY
      # frozen_string_literal: true

      source 'https://rubygems.org'

      gem 'activesupport'
      gem 'allure-rspec'
      gem 'allure-ruby-commons'
      #{allure_cucumber}
      gem 'parallel_split_test'
      gem 'parallel_tests'
      gem 'rake'
      gem '#{framework}'
      #{rspec_gem}
      #{automation_gems}
      #{webdrivers}
    RUBY
  end
end
