platformName: Android
appium:options:
  url: http://localhost:4723/wd/hub
  platformVersion: '12'
  automationName: UiAutomator2
  deviceName: Pixel 3 API 32
  app: Android-MyDemoAppRN.1.3.0.build-244.apk

browserstack:
  platformName: Android
  os_version: '9.0'
  deviceName: Google Pixel 3
  app: app: <%= ENV['APP_URL'] %>
  browserstack.user: <%= ENV['BROWSERSTACK_USER'] %>
  browserstack.key: <%= ENV['BROWSERSTACK_KEY'] %>
  project: 'MyDemoAppRN'
  name: 'MyDemoAppRN-Android'