<%- if automation == 'ios' -%>
driver.find_element(predicate: 'label == "Sauce Labs Backpack"')
<%- elsif automation == 'android' -%>
driver.find_element(xpath: '(//android.view.ViewGroup[@content-desc="store item"])[1]/android.view.ViewGroup[1]')
<%- else -%>
element(ios: { predicate: 'label == "Sauce Labs Backpack"' },
            android: { xpath: '(//android.view.ViewGroup[@content-desc="store item"])[1]/android.view.ViewGroup[1]' })
<%- end -%>
