<% if automation == 'watir' %>
  attr_reader :browser

  def initialize(browser)
    @browser = browser
    RaiderLogHelper.info(to_s) { "Url: #{component.current_url}, Title: #{component.title}" }
  end
<% else %>
  attr_reader :driver

  def initialize(driver)
    @driver = driver
    RaiderLogHelper.info(to_s) { "Url: #{component.current_url}, Title: #{component.title}" }
  end
<% end %>