platformName: iOS
appium:options:
  url: http://localhost:4723/wd/hub
  platformVersion: '17.0'
  deviceName: iPhone 15
  automationName: XCUITest
  app: MyRNDemoApp.app
  autoDismissAlerts: true

browserstack:
  platformName: iOS
  os_version: '17.5.1'
  deviceName: iPhone 15
  app: <%= ENV['APP_URL'] %>
  browserstack.user: <%= ENV['BROWSERSTACK_USER'] %>
  browserstack.key: <%= ENV['BROWSERSTACK_KEY'] %>
  project: 'MyDemoAppRN'
  name: 'MyDemoAppRN-IOS'