<% if %w[selenium watir].include?(automation) %>
  def full_url(*page)
    "#{base_url}#{url(*page)}"
  end

  # :reek:UtilityFunction
  def base_url
    YAML.load_file('config/config.yml')['url']
  end

  def url(_page)
    raise 'Url must be defined on child pages'
  end
<% end %>