<% if web? %>
<% if selenium_based? %>
  def visit(*page)
    @driver.navigate.to full_url(page.first)
  end
<% else %>
  def visit(*page)
    @browser.goto full_url(page.first)
  end
<% end %>
<% end %>
