# frozen_string_literal: true

require_relative '../template'

class AbstractComponentTemplate < Template
  def body
    raider = if framework == 'rspec'
               "require_relative '../../helpers/raider'"
             else
               "require_relative '../../features/support/helpers/raider'"
             end

    <<~RUBY
      #{raider}

      class AbstractComponent

          def initialize(component)
            @component = component
          end
      end
    RUBY
  end
end
