# frozen_string_literal: true

require_relative '../abstract/abstract_page'

class HomePage < AbstractPage

  # Actions

  def go_to_backpack_pdp
    driver.wait { backpack_image }.click
  end

  private

  # Elements

  def backpack_image
  <% if automation == 'ios' -%>
  <%= ERB.new(File.read(File.expand_path('./partials/ios_settings.tt', __dir__))).result(binding) -%>
  <% else -%>
    driver.find_element(xpath: '(//android.view.ViewGroup[@content-desc="store item"])[1]/android.view.ViewGroup[1]')
  <% end -%>
  end
end
