require_relative '../helpers/raider'
<% if %w[selenium watir].include?(automation) && visual_automation == false %>
require_relative '../models/model_factory'
<% end %>
class BaseSpec
  include Raider::SpecHelper
end
