<% if cross_platform? %>android:
  platformName: Android
  appium:options:
    platformVersion: '14'
    automationName: UiAutomator2
    deviceName: Pixel 8 API 34
    app: app-release.apk
ios:
  platformName: iOS
  appium:options:
    platformVersion: '17.0'
    deviceName: iPhone 15
    automationName: XCUITest
    app: RaiderTestApp.app
    autoDismissAlerts: true

browserstack:
  platformName: Android
  os_version: '9.0'
  deviceName: Google Pixel 3
  app: app: <%= ENV['APP_URL'] %>
  browserstack.user: <%= ENV['BROWSERSTACK_USER'] %>
  browserstack.key: <%= ENV['BROWSERSTACK_KEY'] %>
  project: 'RaiderTestApp'
  name: 'RaiderTestApp-Android'
<% elsif ios? %>platformName: iOS
appium:options:
  url: http://localhost:4723/wd/hub
  platformVersion: '17.0'
  deviceName: iPhone 15
  automationName: XCUITest
  app: RaiderTestApp.app
  autoDismissAlerts: true

browserstack:
  platformName: iOS
  os_version: '17.5.1'
  deviceName: iPhone 15
  app: <%= ENV['APP_URL'] %>
  browserstack.user: <%= ENV['BROWSERSTACK_USER'] %>
  browserstack.key: <%= ENV['BROWSERSTACK_KEY'] %>
  project: 'RaiderTestApp'
  name: 'RaiderTestApp-IOS'
<% elsif android? %>platformName: Android
appium:options:
  url: http://localhost:4723/wd/hub
  platformVersion: '14'
  automationName: UiAutomator2
  deviceName: Pixel 8 API 34
  app: app-release.apk

browserstack:
  platformName: Android
  os_version: '9.0'
  deviceName: Google Pixel 3
  app: app: <%= ENV['APP_URL'] %>
  browserstack.user: <%= ENV['BROWSERSTACK_USER'] %>
  browserstack.key: <%= ENV['BROWSERSTACK_KEY'] %>
  project: 'RaiderTestApp'
  name: 'RaiderTestApp-Android'
<% end %>