# frozen_string_literal: true

require_relative '../abstract/page'

class Home < Page

  # Actions

  def go_to_product_detail
    driver.wait { first_product }.click
  end

  private

  # Elements

  def first_product
    <%= partial('home_page_selector') -%>
  end
end
