<%- if web? -%>
require_relative '../components/header'
<%- end -%>

class Page
<%- if cross_platform? -%>
  include AppiumHelper
<%- end -%>
<%=- partial('initialize_selector', trim: false) -%>
<%=- partial('visit_method', trim: false) -%>
<%=- partial('url_methods', trim: false) -%>

  def to_s
    self.class.to_s.sub('Page', ' Page')
  end

  <%- if selenium_based?  -%>
  # Components

  def header
    Header.new(driver.find_element(id: 'customer_menu_top'))
  end
  <%- elsif watir?  -%>
  # Components

  def header
    Header.new(browser.element(id: 'customer_menu_top'))
  end
  <%- end -%>
end
