require_relative '../abstract/page'

class Pdp < Page

  # Actions

  def add_to_cart_text
    driver.wait { add_to_cart_button }.text
  end

  private

  # Elements

  def add_to_cart_button
    <%= partial('pdp_page_selector') -%>
  end
end
