[caps]
automationName = "UiAutomator2"
platformName = "Android"
deviceName = "Nexus_7_API_33"
app = "Android-MyDemoAppRN.1.3.0.build-244.apk"

[appium_lib]
server_url = "http://127.0.0.1:4723/wd/hub"
