# frozen_string_literal: true

require_relative '../abstract/abstract_page'

class LoginPage < AbstractPage
<% if automation == 'selenium' %>
  using Raider::SeleniumHelper
<% end %>

  def url(_page)
    'index.html'
  end

  # Actions

  def login
  <% if automation == 'watir' %>
    login_button.click
    <% else %>
    login_button.click_when_present
    <% end %>
  end

  private

  # Elements

  def login_button
  <% if automation == 'watir' %>
  browser.element(id: 'log-in')
  <% else %>
  driver.find_element(:id, 'log-in')
  <% end %>
  end
end
