browser: chrome
url: 'https://automationteststore.com/'

<%- if selenium_based? -%>
driver_options:
  :timeouts:
    :implicit: 10000 # 10 seconds
<% end -%>

browser_arguments:
  chrome:
    - no-sandbox
    - disable-dev-shm-usage
    - ignore-certificate-errors
    - search-engine-choice-country
  firefox:
    - acceptInsecureCerts
    - no-sandbox