  def create_driver
    @driver = configure_driver
  end
<%- if cross_platform? -%>

  def platform
    @platform ||= YAML.load_file('config/config.yml')['platform'].to_s
  end

  def platform_caps
    @platform_caps ||= YAML.load_file('config/capabilities.yml')[platform]
  end

  # :reek:UtilityFunction
  def parsed_caps
    platform_caps['appium:options']['app'] = parse_app_path(platform_caps['appium:options']['app'])
    platform_caps
  end

  def parse_app_path(path)
    File.expand_path(path, Dir.pwd)
  end
<%- else -%>

  # :reek:UtilityFunction
  def parsed_caps
    caps = YAML.load_file('config/capabilities.yml')
    caps['appium:options']['app'] = app_path(caps['appium:options']['app'])
    caps
  end

  def app_path(path)
    File.expand_path(path, Dir.pwd)
  end
<%- end -%>

<%= partial('browserstack_config', strip: true) %>

  def configure_driver
    if browserstack?
      Appium::Driver.new({ caps: browserstack_caps,
                           'appium_lib': { server_url: parsed_browserstack_url}}, true)
    else
      Appium::Driver.new({ caps: parsed_caps })
    end
  end
