  def create_driver(browser, js_path, skip_iframes)
    if ENV['HEADLESS']
      options = Selenium::WebDriver::Chrome::Options.new(args: ['--headless'])
      @driver = Selenium::WebDriver.for(browser, options:)
    end
    AxeSelenium.configure(@driver || browser) do |config|
      config.jslib_path = js_path if js_path
      config.skip_iframes = skip_iframes if skip_iframes
    end.page
  end
