<% if axe? -%>
<%= partial('axe_driver', strip: true) %>
<%- elsif selenium_based? -%>
<%= partial('selenium_driver', strip: true) %>
<%- else -%>
<%= partial('appium_driver', strip: true) %>
<%- end -%>
