<% if automation == 'selenium' %>
      def new_driver(caps = {})
        @config = YAML.load_file('config/config.yml')
        browser = @config['browser'].to_sym
        caps = caps.nil? ? @config['browser_options'] : caps
        @driver = Selenium::WebDriver.for(browser, desired_capabilities: caps)
      end
<% else %>
      def new_driver
        appium_file = File.join(Dir.pwd, 'appium.txt')
        caps = Appium.load_appium_txt(file: appium_file)
        @driver = Appium::Driver.new(caps)
      end
<% end %>