<% if automation == 'selenium' %>
      def new_driver(caps = {})
        browser = YAML.load_file('config/config.yml')['browser'].to_sym
        @driver = Selenium::WebDriver.for(browser, desired_capabilities: caps)
      end
<% else %>
      def new_driver
        appium_file = File.join(Dir.pwd, 'appium.txt')
        caps = Appium.load_appium_txt(file: appium_file)
        @driver = Appium::Driver.new(caps)
      end
<% end %>