<% case automation
 when 'selenium' %>
driver.save_screenshot("allure-results/screenshots/#{example_name}.png")
<% when 'watir' %>
browser.screenshot.save("allure-results/screenshots/#{example_name}.png")
<% else %>
driver.screenshot("allure-results/screenshots/#{example_name}.png")
<% end %>