<%- if automation == 'selenium' -%>
driver.save_screenshot("allure-results/screenshots/#{example_name}.png")
<%- else -%>
browser.screenshot.save("allure-results/screenshots/#{example_name}.png")
<%- end -%>