<%- if selenium_based? || watir? || capybara? -%>
# frozen_string_literal: true

require_relative '../helpers/test_helper'
require_relative '../models/model_factory'
require_relative '../page_objects/pages/account'
require_relative '../page_objects/pages/login'

<%- if axe? %>
class TestLogin < Minitest::Test
  def setup
    @login = Login.new(driver)
    @account = Account.new(driver)
    @user = ModelFactory.for('users')['registered user']
    @login.visit
    @login.log_as(@user['username'], @user['password'])
  end

  def teardown
    driver.quit
  end

  def test_no_accessibility_errors_on_page
    assert_axe_clean @account.page
  end

  def test_no_accessibility_errors_on_transaction_history
    assert_axe_clean @account.page, within: '.account-card'
  end

  def test_no_accessibility_errors_on_heading
    assert_axe_clean @account.page, within: '.page-title'
  end
end
<%- elsif selenium_based? || watir? || capybara? -%>
class TestLogin < Minitest::Test
  def setup
    @user = ModelFactory.for('users')['registered user']
    @login_page = <% if capybara? -%>Login.new<% elsif watir? -%>Login.new(browser)<% else -%>Login.new(driver)<% end %>
    @account_page = <% if capybara? -%>Account.new<% elsif watir? -%>Account.new(browser)<% else -%>Account.new(driver)<% end %>
  end

  def teardown
    <%= partial('quit_driver', strip: true) %>
  end

  def test_login_with_right_credentials
    @login_page.<% if capybara? -%>visit_page<% else -%>visit<% end %>
    @login_page.login(@user['username'], @user['password'])
  <%- if visual? -%>
    check_page @account_page
  <%- else -%>
    assert_equal "Welcome back #{@user['name']}", @account_page.header.customer_name
  <%- end -%>
  end

  def test_login_with_wrong_credentials
    @login_page.<% if capybara? -%>visit_page<% else -%>visit<% end %>
    @login_page.login(@user['username'], 'wrongPassword')
  <%- if visual? -%>
    check_page @login_page
  <%- else -%>
    assert_equal 'Login or register', @account_page.header.customer_name
  <%- end -%>
  end
end
<%- end -%>
<%- else -%>
<% if cross_platform? -%>
require_relative '../helpers/appium_helper'
<%- end -%>
require_relative '../helpers/test_helper'
require_relative '../page_objects/pages/home'
require_relative '../page_objects/pages/pdp'

class TestPdp < Minitest::Test
  def setup
    @home_page = Home.new(driver)
    @pdp_page = Pdp.new(driver)
  end

  def teardown
    driver.quit_driver
  end

  def test_shows_add_to_cart_button
    @home_page.go_to_product_detail
    assert_equal 'Add to Cart', @pdp_page.add_to_cart_text
  end
end
<%- end -%>
