require_relative '../../helpers/driver_helper'

include Raider::DriverHelper

Before do
  Raider::AllureHelper.configure
  new_driver
  driver.start_driver
end

After do |scenario|
  driver.screenshot("allure-results/screenshots/#{scenario.name}.png")
  Raider::AllureHelper.add_screenshot(scenario.name)
  driver.quit_driver
end