# frozen_string_literal: true

require 'rspec'
require 'tmpdir'
require_relative '../../helpers/allure_helper'
require_relative '../../helpers/capybara_helper'

CapybaraHelper.configure

Before do
  Capybara.current_session.driver.browser.manage.window.maximize
end

After do |scenario|
  Dir.mktmpdir do |temp_folder|
    screenshot = Capybara.page.save_screenshot("#{temp_folder}/#{scenario.name}.png")
    AllureHelper.add_screenshot(scenario.name, screenshot)
  end
  Capybara.reset_sessions!
end
