require_relative '../../helpers/driver_helper'
<%- if visual_automation -%>
require_relative '../../helpers/visual_helper'
<%- end -%>
<%- if automation == 'selenium' -%>
require_relative '../../models/user_factory'

World(Raider::DriverHelper<%- if visual_automation -%>, Raider::VisualHelper<%- end -%>)
<%- else -%>
World(Raider::DriverHelper)
<%- end -%>
