<%- if visual_automation -%>
# frozen_string_literal: true

require_relative '../../helpers/allure_helper'
require_relative '../../helpers/driver_helper'
require_relative '../../helpers/visual_helper'

include DriverHelper
include VisualHelper

Before do
  OpenSSL::SSL::VERIFY_PEER = OpenSSL::SSL::VERIFY_NONE
  @grid_runner = VisualHelper.create_grid_runner
  @eyes = VisualHelper.create_eyes(@grid_runner)
  VisualHelper.configure_eyes @eyes
  @driver = @eyes.open(driver: driver)
end

After do |scenario|
  driver.save_screenshot("allure-results/screenshots/#{scenario.name}.png")
  AllureHelper.add_screenshot(scenario.name)
  @eyes.close
  @driver.quit
  @eyes.abort_async
  results = @grid_runner.get_all_test_results
  puts results
end

<%- else -%>
# frozen_string_literal: true

require_relative '../../helpers/driver_helper'
require_relative '../../helpers/allure_helper'

include DriverHelper

Before do
  driver
end

After do |scenario|
  driver.save_screenshot("allure-results/screenshots/#{scenario.name}.png")
  AllureHelper.add_screenshot(scenario.name)
  driver.quit
end
<%- end -%>