<%- if visual_automation -%>
# frozen_string_literal: true

require_relative '../../helpers/driver_helper'
require_relative '../../helpers/visual_helper'

include Raider::DriverHelper
include Raider::VisualHelper

Before do
  OpenSSL::SSL::VERIFY_PEER = OpenSSL::SSL::VERIFY_NONE
  @grid_runner = create_grid_runner
  @eyes = create_eyes(@grid_runner)
  configure_eyes @eyes
  @driver = @eyes.open(driver: new_driver)
end

After do |scenario|
  driver.save_screenshot("allure-results/screenshots/#{scenario.name}.png")
  Raider::AllureHelper.add_screenshot(scenario.name)
  @eyes.close
  @driver.quit
  @eyes.abort_async
  results = @grid_runner.get_all_test_results
  puts results
end

<%- else -%>
# frozen_string_literal: true

require_relative '../../helpers/driver_helper'

include Raider::DriverHelper

Before do
  new_driver
end

After do |scenario|
  driver.save_screenshot("allure-results/screenshots/#{scenario.name}.png")
  Raider::AllureHelper.add_screenshot(scenario.name)
  driver.quit
end
<%- end -%>