require_relative '../../helpers/browser_helper'
require_relative '../../models/user_factory'
<% if visual_automation %>
require_relative '../../helpers/visual_helper'
<% end %>

World(Raider::BrowserHelper<% if visual_automation %>, Raider::VisualHelper<% end %>)



