# frozen_string_literal: true

require 'tmpdir'
require 'yaml'
require_relative '../../helpers/allure_helper'
require_relative '../../helpers/video_helper'
require_relative '../../helpers/debug_helper'

Before do
  viewport = YAML.load_file('config/config.yml')['viewport']
  if viewport
    browser.window.resize_to(viewport['width'], viewport['height'])
  else
    browser.window.maximize
  end
  @video_recorder = VideoHelper.recorder_for(browser)
  @video_recorder&.start(self.class.to_s)
  DebugHelper.enable_network_logging(browser)
  @debug_action_logger = DebugHelper.action_logger_for(self.class.to_s)
end

After do |scenario|
  if scenario.failed?
    DebugHelper.capture_failure_diagnostics(browser, scenario.name, exception: scenario.exception)
    DebugHelper.capture_network_logs(DebugHelper.resolve_selenium_driver(browser), DebugHelper.sanitize(scenario.name))
  end
  @debug_action_logger&.close
  video_file = @video_recorder&.stop
  AllureHelper.add_video(scenario.name, video_file)
  Dir.mktmpdir do |temp_folder|
    screenshot = browser.screenshot.save("#{temp_folder}/#{scenario.name}.png")
    AllureHelper.add_screenshot(scenario.name, screenshot)
  end
  browser.quit
end