# frozen_string_literal: true

require_relative '../../helpers/allure_helper'
require_relative '../../helpers/browser_helper'

include BrowserHelper

Before do
  browser
end

After do |scenario|
  browser.screenshot.save("allure-results/screenshots/#{scenario.name}.png")
  AllureHelper.add_screenshot(scenario.name)
  browser.quit
end
