<%- if visual_automation -%>
# frozen_string_literal: true

require_relative '../../helpers/browser_helper'
require_relative '../../helpers/visual_helper'

include Raider::BrowserHelper
include Raider::VisualHelper

Before do
  OpenSSL::SSL::VERIFY_PEER = OpenSSL::SSL::VERIFY_NONE
  @grid_runner = create_grid_runner
  @eyes = create_eyes(@grid_runner)
  configure_eyes @eyes
  @browser = @eyes.open(driver: new_browser.driver)
end

After do |scenario|
  browser.screenshot.save("allure-results/screenshots/#{scenario.name}.png")
  Raider::AllureHelper.add_screenshot(scenario.name)
  @eyes.close
  @browser.quit
  @eyes.abort_async
  results = @grid_runner.get_all_test_results
  puts results
end

<%- else -%>
# frozen_string_literal: true

require_relative '../../helpers/browser_helper'

include Raider::BrowserHelper

Before do
  new_browser
end

After do |scenario|
  browser.screenshot.save("allure-results/screenshots/#{scenario.name}.png")
  Raider::AllureHelper.add_screenshot(scenario.name)
  browser.quit
end
<%- end -%>