# frozen_string_literal: true

# Uncomment for interactive debugging:
# require 'debug'    # Ruby's built-in debugger (binding.break)
# require 'pry'      # Pry debugger (binding.pry)

require_relative '../../page_objects/pages/account'
require_relative '../../page_objects/pages/login'

Given("I'm a {user} on the login page") do |user|
  @user = user
  @login_page = <% if capybara? %>Login.new<% elsif watir? %>Login.new(browser)<% else %>Login.new(driver)<% end %>
  @login_page.<% if capybara? %>visit_page<% else %>visit<% end %>
end

When('I login with my credentials') do
  # binding.break  # Uncomment to pause here and inspect state
  @login_page.login(@user['username'], @user['password'])
end

Then("I'm logged in") do
  account_page = <% if capybara? %>Account.new<% elsif watir? %>Account.new(browser)<% else %>Account.new(driver)<% end %>
  account_page.<% if capybara? %>visit_page<% else %>visit<% end %>
  expect(account_page.header.customer_name).to eq "Welcome back #{@user['name']}"
end