# frozen_string_literal: true

require_relative '../../page_objects/pages/account'
require_relative '../../page_objects/pages/login'

Given("I'm a {user} on the login page") do |user|
  @user = user
  @login_page = Login.new(<% if watir? %>browser<% else %>driver<% end %>)
  @login_page.visit
end

When('I login with my credentials') do
  @login_page.login(@user['username'], @user['password'])
end

Then("I'm logged in") do
  account_page = Account.new(<% if watir? %>browser<% else %>driver<% end %>)
  <%- if visual? -%>
  check_page account_page
  <%- else -%>
  expect(account_page.header.customer_name).to eq "Welcome back #{@user['name']}"
  <%- end -%>
end
