# frozen_string_literal: true

require_relative '../abstract/component'

class <%= class_name %> < Component
<%- if selenium? -%>

  def content
    component.text
  end

  private

  # Elements
  # Example: driver.find_element(css: '.selector')
<%- elsif watir? -%>

  def content
    component.text
  end

  private

  # Elements
  # Example: browser.element(css: '.selector')
<%- end -%>
end
