# frozen_string_literal: true

require_relative '../abstract/page'

class <%= page_class_name %> < Page
  def url(_page)
    '<%= url_data[:url_path] %>'
  end

  # Actions
<%- form_elements = url_data[:elements].select { |e| %i[input textarea select].include?(e[:type]) } -%>
<%- button_elements = url_data[:elements].select { |e| %i[button submit].include?(e[:type]) } -%>
<%- unless form_elements.empty? -%>

<%- if capybara? -%>
  def fill_form(<%= form_elements.map { |e| e[:name] }.join(', ') %>)
<%- form_elements.each do |el| -%>
<%- if el[:locator][:type] == :id -%>
    fill_in '<%= el[:locator][:value] %>', with: <%= el[:name] %>
<%- elsif el[:locator][:type] == :name -%>
    fill_in '<%= el[:locator][:value] %>', with: <%= el[:name] %>
<%- else -%>
    find('<%= el[:locator][:value] %>').set(<%= el[:name] %>)
<%- end -%>
<%- end -%>
  end
<%- else -%>
  def fill_form(<%= form_elements.map { |e| e[:name] }.join(', ') %>)
<%- form_elements.each do |el| -%>
    <%= el[:name] %>_field.<%= selenium? ? 'send_keys' : 'set' %> <%= el[:name] %>
<%- end -%>
  end
<%- end -%>
<%- end -%>
<%- unless button_elements.empty? -%>

<%- button_elements.each do |el| -%>
<%- if capybara? -%>
  def click_<%= el[:name] %>
    click_button '<%= el[:text] || el[:name] %>'
  end
<%- else -%>
  def click_<%= el[:name] %>
    <%= el[:name] %>_button.click
  end
<%- end -%>
<%- end -%>
<%- end -%>
<%- unless capybara? -%>

  private

  # Elements
<%- form_elements.each do |el| -%>

  def <%= el[:name] %>_field
<%- if selenium? -%>
    driver.find_element(<%= el[:locator][:type] %>: '<%= el[:locator][:value] %>')
<%- elsif watir? -%>
    browser.<%= el[:type] == :select ? 'select' : 'text_field' %>(<%= el[:locator][:type] %>: '<%= el[:locator][:value] %>')
<%- end -%>
  end
<%- end -%>
<%- button_elements.each do |el| -%>

  def <%= el[:name] %>_button
<%- if selenium? -%>
    driver.find_element(<%= el[:locator][:type] %>: '<%= el[:locator][:value] %>')
<%- elsif watir? -%>
    browser.button(<%= el[:locator][:type] %>: '<%= el[:locator][:value] %>')
<%- end -%>
  end
<%- end -%>
<%- end -%>
end
