# frozen_string_literal: true

require_relative '../page_objects/pages/<%= normalized_name %>'

describe '<%= introspected.class_name %>' do
<%- if selenium? -%>
  let(:page) { <%= introspected.class_name %>.new(driver) }
<%- elsif watir? -%>
  let(:page) { <%= introspected.class_name %>.new(browser) }
<%- end -%>
<%- introspected.methods.each do |method| -%>

  describe '#<%= method[:name] %>' do
    it '<%= method[:name].tr("_", " ") %>' do
<%- if method[:params].empty? -%>
      page.<%= method[:name] %>
<%- else -%>
      page.<%= method[:name] %>(<%= method[:params].map { |p| "'#{p}'" }.join(', ') %>)
<%- end -%>
      pending 'add assertions'
    end
  end
<%- end -%>
end
