# frozen_string_literal: true

require_relative '../page_objects/pages/<%= normalized_name %>'

describe '<%= introspected.class_name %>' do
<%- if selenium? -%>
  let(:page) { <%= introspected.class_name %>.new(driver) }
<%- elsif watir? -%>
  let(:page) { <%= introspected.class_name %>.new(browser) }
<%- elsif capybara? -%>
  let(:page) { <%= introspected.class_name %>.new }
<%- end -%>
<%- introspected.methods.each do |method| -%>
<%- scenario = ai_scenarios[method[:name]] -%>

  describe '#<%= method[:name] %>' do
    it '<%= scenario ? scenario[:description] : method[:name].tr("_", " ") %>' do
<%- if method[:params].empty? -%>
      page.<%= method[:name] %>
<%- else -%>
      page.<%= method[:name] %>(<%= method[:params].map { |p| "'#{p}'" }.join(', ') %>)
<%- end -%>
<%- if scenario && scenario[:assertion_hint] -%>
      pending '<%= scenario[:assertion_hint] %>'
<%- else -%>
      pending 'add assertions'
<%- end -%>
    end
  end
<%- end -%>
end
