# frozen_string_literal: true

require_relative '../page_objects/pages/<%= normalized_name %>'

describe '<%= page_class_name %>' do
<%- if selenium? -%>
  let(:page) { <%= page_class_name %>.new(driver) }
<%- elsif watir? -%>
  let(:page) { <%= page_class_name %>.new(browser) }
<%- end -%>
<%- if project_config['url'] -%>

  before do
<%- if selenium? -%>
    driver.navigate.to "\#{project_config['url']}/<%= normalized_name %>"
<%- elsif watir? -%>
    browser.goto "\#{project_config['url']}/<%= normalized_name %>"
<%- end -%>
  end
<%- end -%>

  it 'loads successfully' do
    pending 'implement test'
  end
end
