# frozen_string_literal: true

require_relative '../page_objects/pages/<%= normalized_name %>'

describe '<%= page_class_name %>' do
<%- if selenium? -%>
  let(:page) { <%= page_class_name %>.new(driver) }
<%- elsif watir? -%>
  let(:page) { <%= page_class_name %>.new(browser) }
<%- elsif capybara? -%>
  let(:page) { <%= page_class_name %>.new }
<%- end -%>

  before do
<%- if capybara? -%>
    visit '<%= url_data[:url_path] %>'
<%- elsif selenium? -%>
    driver.navigate.to '<%= url_data[:url] %>'
<%- elsif watir? -%>
    browser.goto '<%= url_data[:url] %>'
<%- end -%>
  end
<%- form_elements = url_data[:elements].select { |e| %i[input textarea select].include?(e[:type]) } -%>
<%- unless form_elements.empty? -%>

  describe '#fill_form' do
    it 'fills in the form fields' do
      page.fill_form(<%= form_elements.map { |e| "'test_#{e[:name]}'" }.join(', ') %>)
      pending 'add assertions'
    end
  end
<%- end -%>
<%- url_data[:elements].select { |e| %i[button submit].include?(e[:type]) }.each do |el| -%>

  describe '#click_<%= el[:name] %>' do
    it 'clicks the <%= el[:name].tr("_", " ") %> button' do
      page.click_<%= el[:name] %>
      pending 'add assertions'
    end
  end
<%- end -%>

  it 'loads the page' do
    pending 'add assertions'
  end
end
